*
!chill_zoom.sh
!.p10k.zsh
!.zsh_env
!.xinitrc
!.gitconfig*
!/.config/

!/.config/alacritty/
!/.config/alacritty/**

!/.config/i3/
!/.config/i3/**
!/.config/i3status/
!/.config/i3status/**

!/.config/kitty/
!/.config/kitty/**

!/.config/nvim/
!/.config/nvim/**

!/.config/spacebar/
!/.config/spacebar/**
