# Ignore everything
/*
/.vim/bundle/*
#
# swp files too
.*.swp
.*.swo

### Except these ###
!/.gitignore

# vim files
!/.vim/
!/.vimrc
!/.viminfo

# zshrc
!/.zshrc

# tmux
!/.tmux.conf

# powerlevel 10k theme for zsh config file
!.p10k.zsh

### Except end ###
