# Ignore everything
*
### Except these ###
!.gitignore
!.gitconfig*

# vim files
!.config/nvim/**/*
!.config/nvim/ftplugin/*
!.config/i3/**/*
!.config/kitty/**/*

/.tern-project

# zshrc
!.zshrc
!.zshenv

# tmux
!.tmux.conf

# powerlevel 10k theme for zsh config file
!.p10k.zsh

# iterm2 config
!iterm.json

# window management script
!wm*.sh
!.yabairc
!.skhdrc
### Except end ###
