[includeIf "gitdir:~/**"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/skedulo/**"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/learning/**"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/personal/**"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/.vim/**"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/.tmux/**"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/vimwiki/**"]
  path = ~/.gitconfig-personal
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
    useHttpPath=true
[alias]
	conflicted = !vim +Conflicted
	d = difftool
[diff]
	tool = nvim -d
[url "git@github.com:"]
    insteadOf = https://github.com/
[user]
	email = fahmed@skedulo.com
	name = Fayeez Ahmed
[core]
	editor = nvim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$BASE\" \"$REMOTE\""
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $MERGED $REMOTE -c '$wincmd w' -c 'wincmd J'

